html {
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FFF3B0;
}
body {
    background-color: #E09F3E;
    width: 80%;
    margin: 0 auto;
}
h1, p, li {
    color: #9E2A2B;
}
h1 {
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}
body {
    font-size: 110%
}